<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

     <!-- 开发环境 -->
     <springProfile name="dev">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="logging.level.com.dy.springboot.server.mapper" level="DEBUG"/>
        <logger name="cn.jsong.example.spring.consumer" level="DEBUG" />
        <logger name="framwork.monitor" level="DEBUG"></logger>
    </springProfile>
    
    <!-- 测试环境 -->
     <springProfile name="test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="logging.level.com.dy.springboot.server.mapper" level="INFO"/>
        <logger name="cn.jsong.example.spring.consumer" level="DEBUG" />
        <logger name="framwork.monitor" level="DEBUG"></logger>
    </springProfile>
   
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="cn.jsong.example.spring.consumer" level="INFO" />
        <logger name="framwork.monitor" level="INFO" />
    </springProfile>
    
</configuration>